img {
    display: block;
    max-width: 100%;
    height: auto;
    // width: 100%;
  }
  
  svg {
    fill: currentColor;
  }
  
  body {
    font-family: $font-roboto;
  }

  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }


  .no-scroll {
    overflow: hidden;
  }