:root {
    --first-link-color: #2196f3;
    --first-text-color: #212121;
    --second-text-color: #757575;
    --third-text-color: #ffffff;
    --hover-btn-color: #188ce8;
    --first-background-color: #2f303a;
    --second-background-color: #f5f4fa;
    --first-soc-color: #afb1b8;
    --first-border-color: #eeeeee;
  }


  $font-roboto: 'Roboto', sans-serif;
  $font-raleway: 'Raleway', sans-serif;