.content__title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  @include font(14, 16, 700, 0.03em);
  text-transform: uppercase;
  color: var(--first-text-color);
  @include tablet {
    display: block;
  }
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; 
}

.advantage__content {
  width: 100%;
  // width: 270px;
  @include tablet {
    width: calc((100% - 30px) / 2); 
  }
  @include desktop {
    width: calc((100% - 90px) / 4); 
  }
}

.content__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 270px;
  width: 100%;
  height: 120px;
  background-color: var(--second-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.content__advantage-icon {
  fill: currentColor;
}

.content__item {
  @include font(14, 24, null, 0.03em);
  /*--font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;--*/
  color: var(--second-text-color);
}
